<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @referral.user_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @referral.company_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @referral.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @referral.contact_email %>
</p>

<p>
  <strong>Contact mobile:</strong>
  <%= @referral.contact_mobile %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @referral.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @referral.message %>
</p>

<p>
  <strong>Machine brand:</strong>
  <%= @referral.machine_brand %>
</p>

<p>
  <strong>Machine weightclass:</strong>
  <%= @referral.machine_weightclass %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
